body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.App {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 10px;
}

.banner {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.banner h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.5em;
}

.banner a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #0056b3;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

.banner a:hover {
    background-color: #003f7f;
}

.dashboard {
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.dashboard h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.dashboard label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.dashboard input[type="text"],
.dashboard input[type="number"] {
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dashboard input[type="checkbox"] {
    margin-right: 10px;
}

.dashboard button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.dashboard button:hover {
    background-color: #218838;
}
